
body {
	margin: 0px 5% 5% 5%;
}

.title {
	text-align: center;
}

.search-parameters,
.search-header {
	max-width: 350px;
	margin: auto;
}

h3 {
	margin: 5px 0px;
}

ul {
	padding: 0px;
}

.search-parameters li {
	display: flex;
	flex-direction: row;}

.field-title,
.field {
	width: 170px;
	margin: 0px 5px 0px 5px;
}

.field-title {
	text-align: right;
}

.submit {
	display: block;
	margin: 10px auto 10px auto;
}

.movie-list, .people-list {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul.movie-list, ul.people-list {
	list-style-type: none;
}

.movie, .person {
	width: 300px;
	margin: 10px 10px;
}
