
html {
	height: 100%;
}

body {
	background-image: url("img/bg.jpg"); 
    background-position: center; 
    background-size: cover;
}
body, input, select { 
	background-color: #212426;
	color: #A7A7A7;
	margin: 0px 5% 5% 5%;
	font-family: sans-serif;

}

h1, h2, h3, h4 {
	color: #DBDBDC;
}

a {
	color: #6488D1;
}

a:visited {
	color: #666666;
}

a:hover, a:visited:hover {
	color: #AAAAAA;
}

.xdebug-error, .xe-notice{
	color:black;
}

.title {
	text-align: center;
}

.search-parameters {
	max-width: 350px;
	margin: auto;
}

h3 {
	margin: 5px 0px;
}

ul {
	padding: 0px;
}

.search-parameters li {
	display: flex;
	flex-direction: row;
}

.field-title, .field {
	width: 170px;
	margin: 0px 5px 0px 5px;
}

.field-title {
	text-align: right;
}

::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator:hover {
   background:none;
}

.submit {
	display: block;
	margin: 10px auto 10px auto;
}

.movie-list, .people-list {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul.movie-list, ul.people-list {
	list-style-type: none;
}

.movie, .person {
	width: 250px;
	margin: 10px 10px;
}

.movie h1, .movie h2, .movie h3, .movie h4, 
.person h1, .person h2, .person h3, .person h4 {
	text-align: center;
}